<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHoZB8e70hawpkPUWlVLMBZBIs0Nug5nE</string>
	<key>GCM_SENDER_ID</key>
	<string>254299425736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schoofi.Sakksh</string>
	<key>PROJECT_ID</key>
	<string>sakksh-f2936</string>
	<key>STORAGE_BUCKET</key>
	<string>sakksh-f2936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254299425736:ios:6f225f4b8c8272ce79cefd</string>
</dict>
</plist>